.footer {
  background-color: grey;
  color: white;
  padding: 60px 40px;
  display: flex;
  justify-content: space-between;
}

.footer-column {
  max-width: 200px;
}

.footer-column h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.demo-button {
  background-color: #fbbf24;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.demo-button:hover {
  background-color: #f59e0b;
}
